    


    <div class="movetotop">

        <a href="#" style="text-decoration: none; color:white">TOP</a>
  
      </div>
  


<script>
    
    const body=document.querySelector('body')

    const navbar=document.querySelector('.navbar')
    
    const navitems=document.querySelectorAll('.navbar-list>li>a')

    const username_div=document.querySelector('.navbar-username>div>p')

    const topbtn=document.querySelector('.movetotop')




    window.addEventListener('scroll',()=>{
        if(pageYOffset>0)
        {
            navbar.style.background='#00000099'
            navbar.style.color='white'
            username_div.style.color='#566BBB'
            username_div.style.textShadow='1px 1px 3px #566BBB'

            topbtn.style.opacity='1'
            
            body.style.background='#171717'


            for(let i=0;i<navitems.length;i++)
            navitems[i].style.color='white'
        }
        else
        {
            navbar.style.background='#fffbfb'
            navbar.style.color='#171717'
            for(let i=0;i<navitems.length;i++)
            navitems[i].style.color='#171717'
            username_div.style.color='#ffffff'

            topbtn.style.opacity='0'

            body.style.background='#ffffff'
         
        }
        
    })

    
topbtn.addEventListener('click',()=>{

window.scrollTo({top:0})

})
        

   
    
</script>

</body>
</html>