
<%- include('partials/header') -%>


<form method="post" action="/postcomment">

<textarea class="comment" type="text" placeholder="enter comment.." name="commentbody"></textarea>

<button type="submit">Submit </button>

</form>

<%- include('partials/footer') -%>