<%- include('partials/header') -%>


<div class="content">
    <form method="post" action="/compose" >

<div class="compose" >
<h1 class="grid-item">Compose</h1>

<h3  class="grid-title">Title :</h3>
<input  class="grid-item" type="text" placeholder="Write title.." name="title">

<h3  class="grid-title ">Post :</h3>
<textarea type="text" placeholder="Write post.." name="post"></textarea>

<button  >Publish</button>


</div>

</form>

</div>
<%- include('partials/footer') -%>
